<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/png" href="{{ asset('assets/img/favicon.png') }}" />
        <link rel="apple-touch-icon" href="{{ asset('assets/img/push-icon.png') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendor/uikit/dist/css/uikit.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/css/index.css') }}"/>
        {% if hotjar %}
        <!-- Hotjar Tracking Code for https://polotrend.markus-kottlaender.de -->
        <script>
            (function(h,o,t,j,a,r){
                h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
                h._hjSettings={hjid:513067,hjsv:5};
                a=o.getElementsByTagName('head')[0];
                r=o.createElement('script');r.async=1;
                r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
                a.appendChild(r);
            })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
        </script>
        {% endif %}
    </head>
    <body>
        {% block body %}
            <div class="uk-container uk-container-small uk-container-center uk-margin-top">
                {% block content %}{% endblock %}
            </div>
        {% endblock %}
        {% block javascripts %}
        <script type="text/javascript" src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/vendor/uikit/dist/js/uikit.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/vendor/uikit/dist/js/uikit-icons.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/vendor/autobahn/autobahn.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/vendor/push.js/push.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/index.js') }}"></script>
        {% endblock %}
    </body>
</html>
