{% extends 'base.html.twig' %}

{% block content %}
    <div class="uk-card uk-card-small uk-card-default uk-card-body">
        <form class="uk-form-stacked uk-text-center" id="addpair-form">
            <h1 id="logo"><a href="{{ path('homepage') }}">Polotrend</a></h1>
            <h3 id="subtitle" class="uk-text-center uk-heading-line"><span>See when people start to buy or sell.</span></h3>

            <a href="#" class="uk-button uk-button-small uk-position-top-right uk-margin-small-top uk-link-muted"
               id="toggleNotificationSounds" title="Notification sounds" uk-tooltip="pos: left">
                <i class="fa fa-volume-up"></i>
            </a>

            <label class="uk-form-label uk-text-muted uk-margin-small-bottom" for="addpair">
                Add currency pairs to watch their <i><b>buy:sell</b></i> ratio.
            </label>
            <div class="uk-form-controls">
                <select class="uk-select uk-form-large uk-form-width-medium uk-box-shadow-medium" id="addpair">
                    {% for pair in pairs %}
                        {% set pairLabel = pair|split('_') %}
                        <option value="{{ pair }}">{{ pairLabel[1] ~ '/' ~ pairLabel[0] }}</option>
                    {% endfor %}
                </select>
                <button class="uk-button uk-button-primary uk-button-large uk-box-shadow-medium">
                    <span uk-icon="icon: plus"></span>
                </button>
            </div>
            <div class="uk-margin-top">
                <a href="#info-modal" class="uk-button uk-button-small" style="text-transform: none;" uk-toggle>
                    <span uk-icon="icon: info"></span> How does it work?
                </a>
            </div>
        </form>
    </div>

    <div id="watches" class="uk-margin-top uk-margin-bottom" uk-margin uk-sortable="handle: .watch-move"></div>

    <div class="uk-text-small uk-text-muted uk-margin-bottom uk-child-width-1-2@s" uk-grid>
        <div class="uk-text-center uk-text-left@s">
            <a href="https://github.com/mktcode/polotrend" target="_blank" uk-icon="icon: github"></a>
        </div>
        <div class="uk-text-center uk-text-right@s">
            Donate BTC: <a href="#donate-modal" class="uk-link-muted" uk-toggle>15kutfMutsAZxNy82LKvvkbMG5nrixiARD</a>
        </div>
    </div>
    <div class="uk-text-center uk-margin-large-top" style="color: #bbb;">
        Favorite user quote so far:<br>
        <i class="uk-text-lead" style="color: #aaa;">&bdquo;Awesome tool! Survived BTC crash thanks to you!&ldquo;</i><br>
        You're welcome! :D
    </div>

    <div id="donate-modal" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <div class="uk-padding">
                <img src="{{ asset('assets/img/donate.png') }}" alt="QR-Code"/>
                <div class="uk-margin-top uk-text-center uk-text-bold">15kutfMutsAZxNy82LKvvkbMG5nrixiARD</div>
            </div>
        </div>
    </div>

    <div id="info-modal" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <h2 class="uk-modal-title">
                <span uk-icon="icon: info; ratio: 2" style="cursor: default;"></span>
                How does it work?
            </h2>
            <p>
                Add one or more currency pairs from the dropdown. The tool looks up all the trades on Poloniex for your chosen currencies,
                that were executed in the last hour and then calculates ratios between buy and sell trades. A ratio for the last 60, 30, 15, 5 and 1 minutes is displayed.
            </p>
            <p>
                <img src="{{ asset('assets/img/screen1.png') }}" class="uk-align-left" alt="Screenshot 1" width="275" />
                In this example Etherium was 1.21 times more sold than bought in the past hour and even 1.52 times more in the past 30 minutes. So the left number represents buys and the right one sales.
                Red indicates a sell trend and green a buy trend. Next to the currency pair label at the top you see the current price.
            </p>
            <p>
                <img src="{{ asset('assets/img/screen2.png') }}" class="uk-align-left" alt="Screenshot 2" />
                Now in the last minute we can finally see a buy trend. But of course this doesn't mean that price will go up and you should buy now as fast as possible!
                Depending on the currency the numbers meaning can differ. Because the ratios are based on the total amount of coins traded, a currency with only a few trades per minute could easily show a ridiculous 1 minute trend because there was only this one "big" trade.
                <b>I am anything but a professional trader. So interpretation is up to you!</b>
            </p>
            <p class="uk-clearfix">
                <img src="{{ asset('assets/img/screen3.png') }}" class="uk-align-left" width="175" alt="Screenshot 3" />
                For convenience you can enable <b>browser notifications</b> and get notified when a trend flips by clicking on the bell icon in the top right corner of each currency pair you are watching. You can also choose <b>which time sections to show</b> by clicking the gear icon.<br>
            </p>
            <p>
                <b>Performance note</b>: Unfortunatly when you add too many currency pairs the site can become a little cumbersome. If you are a developer you can help and participate at: <a href="https://github.com/mktcode/polotrend" class="uk-text-muted" target="_blank">https://github.com/mktcode/polotrend</a><br>
            </p>
            <p>
                If you like this tool, btc donations to
            </p>
            <p class="uk-text-center">
                <a href="#donate-modal" class="uk-link-muted" uk-toggle>15kutfMutsAZxNy82LKvvkbMG5nrixiARD</a><br>
            </p>
            <p>
                are very, very appreciated! :)<br>
                <br>
                <a href="https://markus-kottlaender.de" target="_blank"><i class="uk-text-small uk-text-muted">Markus</i></a>
            </p>
        </div>
    </div>

    <template id="watch-template">
        <div class="watch uk-card uk-card-small uk-card-default uk-card-body">
            <h3 class="uk-card-title">
                <a href="" class="uk-link-muted poloniex-link" target="_blank"></a>
                <span class="uk-text-muted watch-ticker-container">(<span class="watch-ticker"><span uk-spinner></span></span>)</span>
            </h3>
            <span class="indicator">
                <span class="up"></span>
                <span class="down"></span>
            </span>
            <a href="#" class="watch-display uk-link-muted" uk-icon="icon: cog" title="Display" uk-tooltip></a>
            <div uk-dropdown="mode: click">
                <div class="uk-text-small uk-text-muted uk-padding-small uk-text-center">
                    Display ratios:
                    <form class="uk-margin-small-top">
                        <input type="checkbox" class="uk-checkbox show-in-title-toggle"/>
                        show 1 min. in title bar
                    </form>
                </div>
                <ul class="uk-nav uk-dropdown-nav">
                    <li class="uk-active"><a href="#" class="toggle-ratio" data-ratio="1">1 min.</a></li>
                    <li class="uk-active"><a href="#" class="toggle-ratio" data-ratio="5">5 min.</a></li>
                    <li class="uk-active"><a href="#" class="toggle-ratio" data-ratio="15">15 min.</a></li>
                    <li class="uk-active"><a href="#" class="toggle-ratio" data-ratio="30">30 min.</a></li>
                    <li class="uk-active"><a href="#" class="toggle-ratio" data-ratio="60">60 min.</a></li>
                </ul>
            </div>
            <a href="#" class="watch-alert uk-link-muted" uk-icon="icon: bell" title="Notifications" uk-tooltip></a>
            <div uk-dropdown="mode: click">
                <div class="uk-text-small uk-text-muted uk-padding-small uk-text-center">Send notification if ratio trend flips:</div>
                <ul class="uk-nav uk-dropdown-nav">
                    <li><a href="#" class="toggle-notification" data-ratio="1">1 min.</a></li>
                    <li><a href="#" class="toggle-notification" data-ratio="5">5 min.</a></li>
                    <li><a href="#" class="toggle-notification" data-ratio="15">15 min.</a></li>
                    <li><a href="#" class="toggle-notification" data-ratio="30">30 min.</a></li>
                    <li><a href="#" class="toggle-notification" data-ratio="60">60 min.</a></li>
                </ul>
                <div class="uk-text-small uk-text-muted uk-padding-small uk-text-center">
                    <form class="price-notification-form">
                        <input type="checkbox" class="uk-checkbox price-notification-toggle"/>
                        Price notification
                        <input type="text" class="uk-input uk-text-center price-notification-input"/>
                    </form>
                </div>
            </div>
            <a href="#" class="watch-move uk-link-muted" uk-icon="icon: move" title="Move" uk-tooltip></a>
            <a href="#" class="watch-close" uk-close title="Close" uk-tooltip></a>
            <div class="uk-margin-top uk-grid-small" uk-grid>
                <div class="uk-text-center ratio-60 uk-width-expand@s uk-width-1-2">
                    <span class="uk-text-muted ratio-header">60 min.</span><br>
                    <span class="uk-text-large watch-buysell watch-buysell-60"><span uk-spinner></span></span>
                </div>
                <div class="uk-text-center ratio-30 uk-width-expand@s uk-width-1-2">
                    <span class="uk-text-muted ratio-header">30 min.</span><br>
                    <span class="uk-text-large watch-buysell watch-buysell-30"><span uk-spinner></span></span>
                </div>
                <div class="uk-text-center ratio-15 uk-width-expand@s  uk-width-1-3">
                    <span class="uk-text-muted ratio-header">15 min.</span><br>
                    <span class="uk-text-large watch-buysell watch-buysell-15"><span uk-spinner></span></span>
                </div>
                <div class="uk-text-center ratio-5 uk-width-expand@s  uk-width-1-3">
                    <span class="uk-text-muted ratio-header">5 min.</span><br>
                    <span class="uk-text-large watch-buysell watch-buysell-5"><span uk-spinner></span></span>
                </div>
                <div class="uk-text-center ratio-1 uk-width-expand@s  uk-width-1-3">
                    <span class="uk-text-muted ratio-header">1 min.</span><br>
                    <span class="uk-text-large watch-buysell watch-buysell-1"><span uk-spinner></span></span>
                </div>
            </div>
            <div class="watch-trades-per-minute">
                trades per minute (average | last): <span class="avg">...</span> | <span class="last">...</span>
            </div>
        </div>
    </template>
{% endblock %}